main {
    flex: 1;
    overflow-y: auto;
}

main>* {
    flex: 1;
}

.unselected {
    filter: grayscale(100%);
    background: var(--background-color-secondary);
}

#champion-selection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-secondary);
    height: 100%;
}

#champion-selection-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#champion-selection-gross,
#search-bar {
    border: 1px solid var(--highlight-color);
    border-radius: var(--boarder-radius);
}

#champion-selection-gross {
    background-color: var(--background-color-secondary);
    padding: 0.5em 0;
}

#champions-container {
    flex-grow: 1;
    overflow-y: auto;
}

#champions-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#champions-list>div>img {
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

#current-patch {
    color: var(--highlight-color);
}

#generate-build {
    align-self: center;
    background-color: var(--background-color-secondary);
    border: 1px solid var(--highlight-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 0.5em 0;
    width: 50%;
}

#search-bar {
    background-color: var(--background-color-secondary);
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5em 0 0.5em 2.5em;
    display: flex;
    justify-content: center;
}
